<div id="home-info-block">
  <h4>Podaci o stanu</h4>
  <p>Povrsina stana</p>
  <p-selectButton class="form-item-margin" [options]="povrsina" [(ngModel)]="izabranaPovrsina"></p-selectButton>
  <p>Starost stana</p>
  <p-selectButton class="form-item-margin" [options]="starost" [(ngModel)]="izabranaStarost"></p-selectButton>
  <p>Procenjene vrednosti stana</p>
  <p-selectButton class="form-item-margin" [options]="procenjenaVrednost" [(ngModel)]="izabranaProcenjenaVrednost"></p-selectButton>
</div>
