<form [formGroup]="autoOsiguranjeForm" (ngSubmit)="onSubmit()" class="form-block">
  <h2 class="title-margin">Auto osiguranje</h2>
  <div class="form-block-inner">
  <div formArrayName="AutoPaket" class="form-group">
    <h3>Ponudjeni paketi osiguranja</h3>
    <div *ngFor="let paket of autoOsiguranjeForm.controls.AutoPaket.controls; let i = index" [formGroupName]="i">
      <div class="putno-osiguranje-lista">
        <span class="title-margin">{{paket.value.naziv}}</span>
        <input type="number" size="5"  formControlName="cena" (change)="promeniBoju($event)" pInputText required> din
      </div>
    </div>
  </div>
  </div>

  <button type="submit" pButton label="Izmeni" class="button-izmeni"></button>
</form>
