<div id="vozilo-block">
  <h4>Podaci o vozilu</h4>
  <span class="ui-float-label form-item-margin">
      <input id="input-vehicle-type" type="text" size="30" pInputText>
      <label for="input-vehicle-type">Marka i tip vozila</label>
    </span>
  <span class="ui-float-label form-item-margin">
      <input id="input-vehicle-year" type="text" size="30" pInputText>
      <label for="input-vehicle-year">Godina proizvodnje</label>
    </span>
  <span class="ui-float-label form-item-margin">
      <input id="input-registration" type="text" size="30" pInputText>
      <label for="input-registration">Broj registarske tablice</label>
    </span>
  <span class="ui-float-label form-item-margin">
      <input id="input-chassis" type="text" size="30" pInputText>
      <label for="input-chassis">Broj šasije</label>
    </span>
</div>
